In [3]:
# 1.Write a program to reverse a string.
str1="PW Kills"                    #creating varaible name as str1 which holds  string "Pw skiils"
print("input=",str1)
b=list(str1)                       #converting string str1 in list and assigning it to b
print(b)                           #printing list b
b.reverse()                        #reversing list b by using reverse function
print(b)                           #now printing reverse b list
str2=""                            #creating empty string
for ele in b:                      #iterating elements present in b onr by one
    str2+=ele                      # adding elements in str1(empty string)
print("output=",str2)              #printing str2 which is a reversed string of str1

input= PW Kills
['P', 'W', ' ', 'K', 'i', 'l', 'l', 's']
['s', 'l', 'l', 'i', 'K', ' ', 'W', 'P']
output= slliK WP

In [6]:
# 2.check if a string is palindrome.
#creating varaible strg which hold string "madam" from the user
strg="madam"
#for checking palindrome create another varaible strg2 and store the value of strg in strg 2 in reverse indexing order
strg2=strg[::-1]                                     #using slicinf to get the reverse of string

if strg==strg2:                                      #checking=if strg is equal to strg2 
    print(strg,"=entered string is palindrome")      #if both varaible are equal then print 
else:
    print(strg,"=entered string is not palindrome")  #if varaible are not equal then print

madam =entered string is palindrome

In [1]:
# 3. Convert a string to uppercase.
lower_string="abcd"
upper_string=""
s=list(lower_string)
print(s)
for ele in s:
    upper_string+=ele
print(upper_string.upper())

['a', 'b', 'c', 'd']
ABCD

In [2]:
# 4. Convert a string to lowercase.
upper_string="I AM LEARNING FROM PW SKILLS"
lower_string=upper_string.lower()
print(lower_string)

i am learning from pw skills

In [3]:
# 5. Count the number of vowels in a string.
a="PW IS a greaT plAtform to LeaRn "
v="aeiou"
c=0
for char in a.lower():
    if char in v:
        c+=1
print(c)

9

In [1]:
# 6. Count the number of consonants in a string.
st="PW Faculties Are VeRy briLliant ThEir teacHing style iS so UniQue"
a="bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
c=0
for char in st.lower() :
    if char in a:
        c+=1
print(c)

33

In [2]:
# 7. Remove all whitespaces from a string.
string="PW Faculties Are VeRy briLliant ThEir teacHing style iS so UniQue"
print(string.replace(" ",""))

PWFacultiesAreVeRybriLliantThEirteacHingstyleiSsoUniQue

In [3]:
# 8. Find the length of a string without using the `len()` function.
str1="looking for a Data Science course"
str2=list(str1)
count=0
for i in str2:
    count+=1
print(count)

33

In [5]:

# 9. Check if a string contains a specific word
strn='''Its really a honor for me to learn
from a teacher like sudhanshusir
 he is a best teacher i have ever seen'''
target="sudhanshusir"
if target in strn:
    print("yes the word is present in the string")
else:
    print("no word like this is present in the string")

yes the word is present in the string

In [6]:

# 10. Replace a word in a string with another word.
strn='''Its really a honor for me to learn
from a teacher like sudhanshusir
he is the best teacher i have ever seen'''
replace_word="mentor"
a=strn.replace("teacher",replace_word)
print(a)

Its really a honor for me to learn
from a mentor like sudhanshusir
he is the best mentor i have ever seen

In [8]:

# 11. Count the occurrences of a word in a string.
strl='''Teachers of Pw work very efficiently they take syllabus very strictly
and their guidence is much better than any other learning platforms'''
count=0
for char in strl:
    if char=="a":
        count+=1
print(count)

count2=strl.count("a")
print(count2)

8
8

In [10]:

# 12. Find the first occurrence of a word in a string.
str2="pw courses are so amazing "
print(str2.find("s"))

7

In [1]:
# 13. Find the last occurrence of a word in a string.
strl='''looking for some great job so i can live my life that's why i 
enrolled the course of pw skills and my experience is so amazing it's going 
amazing and learning with having fun the faculties making everything so easy
to understand we also having 24 hour doubt solving experts to
 resolve our querries '''
f=strl.rfind("and")
print(f)

227

In [1]:

# 14. Split a string into a list of words.
def split_word(text):
    words=[]
    word=""
    for char in text:
        if char.isspace():
            if word:
                words.append(word)
                word=""
        else:
            word+=char
    if word:
        words.append(word)
    return words

text="ineouron and pw skills are the best platform to learn about it field"
a=split_word(text)
print(a)

['ineouron', 'and', 'pw', 'skills', 'are', 'the', 'best', 'platform', 'to', 'learn', 'about', 'it', 'field']

In [1]:
# 15. Join a list of words into a string.


str1=""
list1=['karan','devansh','harsh','arun','yash' ]
a=len(list1)
for i in range(a):
    if i==a-1:
        str1+=list1[i]
    else:
        str1=str1 + list1[i]+" "
print(str1)

karan devansh harsh arun yash

In [2]:
# 17. Check if a string starts with a specific word or phrase.
str1="what are you doing"
check=str1.find("w")

if str1.startswith("what"):
    print(True)
print("yes string starts with specific word ='what'")

True
yes string starts with specific word ='what'

In [2]:
# 18. Check if a string ends with a specific word or phrase.
str1="hello ! this is karan and i am a student of sudhanshu sir"
n=input("enter the phrase or word you have to check")
if str1.endswith(n):
    print(True,"it's end with this specific character")
else:
    print(False,"it's not starting with specific character")

enter the phrase or word you have to check sir

True it's end with this specific character

In [6]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

def c(a):
    words=a.split()
    for i in range(len(words)):
        words[i]=words[i].capitalize()
    d=" ".join(words)
    return d


a="hello world"
b="robin hood army serves food to poors"
print(c(a))
print(c(b))

Hello World
Robin Hood Army Serves Food To Poors

In [7]:
# 20. Find the longest word in a string.
def longest_word(str1):
    words=str1.split()
    longest_word=""
    max_len=0
    for word in words:
        word=word.strip('/{}[](),_.')
        if len(word)>max_len:
            longest_word=word
            max_len=len(word) 
    return longest_word        
str1="hey this is adam using whatsapp and insta to do social media influeincing"
print(longest_word(str1))

influeincing

In [11]:
# 21. Find the shortest word in a string
def shortest_word(str2):
    words=str2.split()
    shortest_word=None
    shortest_len=float('inf')
    for word in words:
        word=word.strip('.,!?()[]{}"\'')
        if len(word)<shortest_len:
            shortest_word=word
            shortest_len=len(word)
    return  shortest_word

str2="we should save environment global warming is increasing day by day"
str4="just want to check the shortest word in the string"
print(shortest_word(str2))
print(shortest_word(str4))

we
to

In [12]:

# 22. Reverse the order of words in a string.
def reverse_order(str3):
    words=str3.split()
    reverse_word=words[::-1]
    reversed_string=" ".join(reverse_word)      
    return reversed_string
str3="studying is the key to success"
print(reverse_order(str3))

success to key the is studying

In [13]:
# 23. Check if a string is alphanumeric.
str4="lol their are 2  people in the boat an the boat is in the mid ocean "
if str4.isalnum():
    print(True)
else:
    print(False)
str5="karan 123 is my username"
if str5.isalnum():
    print(True)
else:
    print(False)

False
False

In [17]:

# 23. Check if a string is alphanumeric.
def is_alphanumeric(str2):
    for char in str2:
        if not(char.isalpha() or char.isdigit()):
            return False
        return True
    

str2="23karan123" 
print(is_alphanumeric(str2))

True

In [18]:

# 24. Extract all digits from a string.
str1='''I will reach there at 12 a clock will you come to 
meet me at 4pm i will wait for you come before 7pm'''
str2=""
digit_extracted=[]
for char in str1:
    if char>='0' and char<='9':
        continue
    else:
        str2+=char


for char in str1:
    if char>='0' and char<='9':
        digit_extracted.append(char)

print(str2)
print(digit_extracted)

I will reach there at  a clock will you come to
meet me at pm i will wait for you come before pm
['1', '2', '4', '7']

In [1]:
# 25. Extract all alphabets from a string:
str3="change my user from karan123 to devansh123 if it's not secured then try suraj123"
extracted_alpha=""
for alpha in str3:
    if alpha>='a' and alpha<='z':
        extracted_alpha+=alpha

print(extracted_alpha)

changemyuserfromkarantodevanshifitsnotsecuredthentrysuraj

In [4]:
# 26. Count the number of uppercase letters in a string.
str2="Hello  Bro Are You Ready for becoming a SDE"
count=0
for i in str2:
    if i>='A' and i<='Z':
        count+=1
print(count)

8

In [5]:
# 27. Count the number of lowercase letters in a string.
str2="Hello  Bro Are You Ready for becoming a SDE"
count=0
for i in str2:
    if i>='a' and i<='z':
        count+=1
print(count)

26

In [6]:
# 28. Swap the case of each character in a string.
str1=input("enter the string")
swap_case=str1.swapcase()
print(swap_case)

enter the string karandevansh

KARANDEVANSH

In [7]:


# 29. Remove a specific word from a string.
str2="hello mam karan this side looking fora data science related job"
l1=str2.split()
print(l1)
print(l1.remove('job'))

['hello', 'mam', 'karan', 'this', 'side', 'looking', 'fora', 'data', 'science', 'related', 'job']
None

In [8]:
#30. Check if a string is a valid email address.
valid_email_address="devanshgenius@gmail.com"  
n=0
while n<=3:
    if valid_email_address==input("enter your email "):
        print("this email address is a valid user")
        print("you have been logged in")
        break
    else:
        print("plz check your email address again")

    n+=1
if n>=3:    
    print("your id is locked man plz try after some time")

enter your email  devanshgenius@gmail.com

this email address is a valid user
you have been logged in

In [9]:

# 31. Extract the username from an email address string.
email1="karanupadhay@gmail.com"
new = email1.split("@")[0]
print(new)

karanupadhay

In [10]:
# 32. Extract the domain name from an email address string.
email1="karanupadhay@gmail.com"
new=email1.split("@")[1]
print(new)

gmail.com

In [11]:
# 33. Replace multiple spaces in a string with a single space.
import re
string='''hello      world   this is      karan         ! '''
string2=string.split()
single_space_string=" ".join(string2)
print(single_space_string)
#another approach is 
out_string=re.sub('\s+',' ',string)
print(out_string)

hello world this is karan !
hello world this is karan !

In [13]:
# 34. Check if a string is a valid URL.

valid_url= "http://www.example.com/index.html"
if valid_url==input("enter url"):
    print("this url you entered is valid")
else:
    print("this url you is not a valid url")
#another approach is
import re

def is_valid_url(url):
    # Define a regular expression pattern to match URLs.
    url_pattern = re.compile(r'^(https?|ftp)://[^\s/$.?#].[^\s]*$')
    
    # Use the pattern to match the URL.
    return bool(url_pattern.match(url))

url = input("enter the url")
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

enter url http://www.ex.com

this url you is not a valid url

enter the url http://www.ex.com/

http://www.ex.com/ is a valid URL.

In [14]:
# 35. Extract the protocol (http or https) from a URL string.?
url="https://www.example.com"
new_url=url.split(":")[0]
print(new_url)

from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme  # The scheme attribute contains the protocol (http, https, etc.)

# Example usage:
url = "https://www.example.com"
protocol = extract_protocol(url)
print(f"The protocol of the URL is: {protocol}")

https
The protocol of the URL is: https

In [15]:
#36. Find the frequency of each character in a string.
def freq(strl,a):
    count=0
    for i in strl:
        if i=="a":
            count+=1
    return count
string='''Fiction is something that is told or written that is not fact. The word fiction has been derived 
from Latin word “fictus” that means, “to form”. It could be any creative work of art chiefly any narrative 
works, portraying individuals, events, or places that are imaginary, or in ways that are imaginary.
'''
print(freq(string,"s"))


#another apprach is 
def char_freq(input_string):
    char_frequency={}
    for char in input_string:
        if char in char_frequency:
            char_frequency[char]+=1
    else:
        char_frequency[char]=1
    return char_frequency
input_string="hello world"
result=(char_freq(input_string))
for char,freq in result.items():
     print(f"Character: {char}, Frequency: {freq}")

25
Character: d, Frequency: 1

In [17]:
#37. Remove all punctuation from a string.
def remove_punctuatuion(string):
    punctuation_marks=''':@!#$%^&/{}[]()&*+-_=<>".?,'''''
    clean_string=""
    for char in string:
        if char  not in punctuation_marks:
            clean_string+=char
    return clean_string

inputstring=input("enter the string")
print(remove_punctuatuion(inputstring))

enter the string vsavd@sadbsadb$

vsavdsadbsadb

In [20]:

# 38. Check if a string contains only digits.
input_string=input("enter the string to check")
if input_string.isdigit():
    print("yes the string only contain digits")
else:
    print("no string does not containing only digits")

    
    
    
#using function
def check_string_digit(string):
    return string.isdigit()
if check_string_digit(input_string):
    print(f'{input_string} only contain digits')
else:
    print("no string does not contain only digits")

enter the string to check 123

yes the string only contain digits
123 only contain digits

In [22]:
#39. Check if a string contains only alphabets.
def check_alphabet(string):
    return string.isalpha()

input_String=input("enter the string")
if check_alphabet(input_String):
    print("yes the string only contain alphabets")
else:
    print("your assumption is not right")

enter the string karanupadhyay

yes the string only contain alphabets

In [23]:

#40. Convert a string to a list of characters.
input_str=input("enter the string")
list_of_char=[]
for char in input_str:
    list_of_char.append(char)
print(list_of_char)

enter the string karan deepak upadhyay

['k', 'a', 'r', 'a', 'n', ' ', 'd', 'e', 'e', 'p', 'a', 'k', ' ', 'u', 'p', 'a', 'd', 'h', 'y', 'a', 'y']

In [24]:
# 41. Check if two strings are anagrams.
def Are_anagrams(str1,str2):
    str1=str1.replace(" ",'').lower()
    str2=str2.replace(" ",'').lower()

    if len(str1)!=len(str2):
        return False
    char_count1={}
    char_count2={}

    for char in str1:
        if char in char_count1:
            char_count1[char]+=1
        else:
            char_count1[char]=1

    for char in str2:
        if char in char_count2:
            char_count2[char]+=1
        else:
            char_count2[char]=1
    
    return char_count1==char_count2


str1="silent"
str2="listen"
result=Are_anagrams(str1,str2)
print(result)

True

In [1]:
#42. Encode a string using a Caesar cipher.
def caesar_cipher_encode(text, shift):
    result = ""

    for char in text:
        if char.isalpha():
            # Determine if the character is uppercase or lowercase
            is_upper = char.isupper()
            
            # Shift the character and wrap around the alphabet
            shifted_char = chr((ord(char) - ord('A' if is_upper else 'a') + shift) % 26 + ord('A' if is_upper else 'a'))
            
            result += shifted_char
        else:
            # If the character is not a letter, leave it unchanged
            result += char

    return result

# Example usage:
plaintext = "Hello, World!"
shift = 3
encoded_text = caesar_cipher_encode(plaintext, shift)

print(f"Original: {plaintext}")
print(f"Encoded: {encoded_text}")

Original: Hello, World!
Encoded: Khoor, Zruog!

In [3]:
#43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(text, shift):
    # The decoding is essentially the same as encoding, but with a negative shift
    return caesar_cipher_encode(text, -shift)

# Example usage:
encoded_text = "Khoor, Zruog!"
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)

print(f"Encoded: {encoded_text}")
print(f"Decoded: {decoded_text}")

Encoded: Khoor, Zruog!
Decoded: Hello, World!

In [25]:
# 44. Find the most frequent word in a string.
def most_frequent_word(input_string):
    # Convert the input string to lowercase to make the comparison case-insensitive
    input_string = input_string.lower()

    # Split the string into words
    words = input_string.split()

    # Initialize a dictionary to store word frequencies
    word_frequency = {}

    # Iterate through the words and count their frequencies
    for word in words:
        if word in word_frequency:
            word_frequency[word] += 1
        else:
            word_frequency[word] = 1

    # Find the word with the highest frequency
    most_frequent = max(word_frequency, key=word_frequency.get)

    return most_frequent

# Input string
input_string = "This is a test. This test is a simple test."

# Find the most frequent word
result = most_frequent_word(input_string)

# Print the most frequent word
print("The most frequent word is:", result)

The most frequent word is: this

In [27]:
# 45. Find all unique words in a string.
def unique_word(string):
    string=string.lower()
    words=string.split()
    uniquewords=set(words)
    return uniquewords

string=input("enter the string")
print(unique_word(string))

enter the string Karan@gmaiL.CoM

{'karan@gmail.com'}

In [56]:
# 46. Count the number of syllables in a string.
def count_syllables(word):
    vowels="aeiouyAEIOUY"
    count=0
    in_syllable=False
    for char in word:
        if char in vowels:
            if not in_syllable:
                count+=1
            in_syllable=True
        else:
            in_syllable=False
    return count

word = "syllable"
syllable_count = count_syllables(word)

print(f"The word '{word}' has {syllable_count} syllables.")

The word 'syllable' has 3 syllables.

In [30]:
# 47. Check if a string contains any special characters.
def special_char(string):
    pattern="!@#$%%^&*()_-+={}[]:;''<>/?\|"
    for char in string:
        if char in pattern:
            print("yes the string contain the special character")
            return True
        else:
            print("the string does not contain an special character")
            return False

string=input("enter your string to check the special charater:")
print(special_char(string))

enter your string to check the special charater: {}-jdssdbfb+

yes the string contain the special character
True

In [34]:
# 48. Remove the nth word from a string.
#this will remove alphabet
a=input("enter your string")
b=list(a)
n=input("enter the nth word  to remove from the list ")
b.remove(n)
print(b)
e=''.join(b)
print(e)
#to remove nth word
input_string=input("enter your string")
nth=input("enter word to remove from the string")
new=input_string.split()
for elements in new:
    if nth in elements:
        new.remove(nth)
        break
print(new)
string=' '.join(new)


print(string)

enter your string karan is great
enter the nth word  to remove from the list  g

['k', 'a', 'r', 'a', 'n', ' ', 'i', 's', ' ', 'r', 'e', 'a', 't']
karan is reat

enter your string karan is great person
enter word to remove from the string person

['karan', 'is', 'great']
karan is great

In [35]:
# 49. Insert a word at the nth position in a string.
input_string=input("enter your string")
nth_postion=int(input("enter the position to insert a word"))
word=input("enter the word to insert")
new=input_string.split()
new.insert(nth_postion,word)
final_string= ' '.join(new)
print(final_string)

enter your string karan is a gem of a person
enter the position to insert a word 3
enter the word to insert karan god

karan is a karan god gem of a person

In [4]:
#50. Convert a CSV string to a list of lists.
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use StringIO to create a file-like object from the CSV string
    csv_file = StringIO(csv_string)
    
    # Use the csv.reader to read the CSV content into a list of lists
    csv_reader = csv.reader(csv_file)
    
    # Convert the csv_reader object to a list of lists
    list_of_lists = [row for row in csv_reader]
    
    return list_of_lists

# Example usage:
csv_string = "Name,Age,Occupation\nJohn,25,Engineer\nJane,30,Doctor\nBob,22,Student"
list_of_lists = csv_string_to_list(csv_string)

# Print the result
for row in list_of_lists:
    print(row)

['Name', 'Age', 'Occupation']
['John', '25', 'Engineer']
['Jane', '30', 'Doctor']
['Bob', '22', 'Student']

List Based Practice Problem

In [36]:
# 1. Create a list with integers from 1 to 10.
l1=[]
n=int(input("enter the number"))
for i in range(1,n+1):
    if i>0 and i<n+1:
        l1.append(i)
print(l1)

enter the number 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
# 2. Find the length of a list without using the `len()` function.
l2=[]
n=int(input("enter the number"))
for i in range(1,n+1):
    ele=int(input("enter the number"))
    l2.append(ele)
print(l2)
count=0
for  j in l2:
    count+=1
print(count)

enter the number 10
enter the number 3
enter the number 4
enter the number 6
enter the number 2
enter the number 6
enter the number 2
enter the number 5
enter the number 6
enter the number 2
enter the number 14

[3, 4, 6, 2, 6, 2, 5, 6, 2, 14]
10

In [39]:
# 3. Append an element to the end of a list.
l3=[112,'karan','shejal',324,2.3,'ugc']
new=[]
for i in range(1,4):
    ele=int(input("enter the number to append"))
    char=input("enter string to append") 
    new.append(ele)
    new.append(char)
print(new)
l3.append(new)
print(l3)

enter the number to append 4
enter string to append karna1
enter the number to append 3
enter string to append karan2
enter the number to append 4
enter string to append karan5

[4, 'karna1', 3, 'karan2', 4, 'karan5']
[112, 'karan', 'shejal', 324, 2.3, 'ugc', [4, 'karna1', 3, 'karan2', 4, 'karan5']]

In [40]:
# 4. Insert an element at a specific index in a list.
l=[]
n=int(input("enter the number of times loop will run") )
for i in range(1,n+1):
    element=input("enter the element to add in the list")
    l.append(element)

index=int(input("enter the index number"))
word=input("enter the word to append in the list")
l.insert(index,word)
print(l)

enter the number of times loop will run 5
enter the element to add in the list karan
enter the element to add in the list devansh
enter the element to add in the list rane
enter the element to add in the list uraj
enter the element to add in the list arun
enter the index number 4
enter the word to append in the list vijay

['karan', 'devansh', 'rane', 'uraj', 'vijay', 'arun']

In [42]:
# 5. Remove an element from a list by its value.
l=[]
n=int(input("enter the number of times loop will run"))
for  i in range(1,n+1):
    number=int(input("enter the number  to append in the list"))
    l.append(number)
number_to_remove=int(input("enter the number to remove from  the list" ))
l.remove(number_to_remove)
print(l)

enter the number of times loop will run 5
enter the number  to append in the list 1
enter the number  to append in the list 2
enter the number  to append in the list 3
enter the number  to append in the list 4
enter the number  to append in the list 5
enter the number to remove from  the list 1

[2, 3, 4, 5]

In [43]:
# 6. Remove an element from a list by its index.
my_list=[]
n=int(input("enter the number of times loop will run"))
for i in range(1,n+1):
    iteams=int(input("enter the element to append in the list"))
    my_list.append(iteams)
index_to_remove=int(input("enter the index"))
modified_list=my_list[:index_to_remove]+my_list[index_to_remove+1:]
print(modified_list)
#another approach is-
my_list.pop(index_to_remove)
print(my_list)

enter the number of times loop will run 5
enter the element to append in the list 3
enter the element to append in the list 5
enter the element to append in the list 6
enter the element to append in the list 2
enter the element to append in the list 4
enter the index 3

[3, 5, 6, 4]
[3, 5, 6, 4]

In [47]:
# 7. Check if an element exists in a list.
my_list=[]
n=int(input("enter the range"))
for i in range(1,n+1):
    el=input("enter the element to add in the list")
    my_list.append(el)
check_ele=input("enter the element to check in the list")
for i in my_list:
    if check_ele in i:
        print("yes the element exsist in the list")
        break
    else:
        print("element not exist in the list")
        break

enter the range 3
enter the element to add in the list karan
enter the element to add in the list arun
enter the element to add in the list rane
enter the element to check in the list devansh

element not exist in the list

In [50]:
# 8. Find the index of the first occurrence of an element in a list.
my_list=[]
n=int(input("enter the range"))
for i in range(1,n+1):
    el=input("enter the element to add in the list")
    my_list.append(el)
element_to_check=input("enter the element to check")
first_occurence=0
for index,iteam in enumerate(my_list):
    if iteam==element_to_check:
        first_occurence=index
        break
if first_occurence!=0:
    print(f'element name:{element_to_check},element index:{first_occurence}')
else:
    print("element not exist in the list")

enter the range 3
enter the element to add in the list karan
enter the element to add in the list rane
enter the element to add in the list patil
enter the element to check rane

element name:rane,element index:1

In [52]:


# 9. Count the occurrences of an element in a list.
my_list=[]
n=int(input("enter the range"))
for i in range(1,n+1):
    el=input("enter the element to add in the list")
    my_list.append(el)
count=0
check_element=input("enter the element to check the occurence")
for k in my_list:
    if k==check_element:
        count+=1

print(f'elements name:{check_element},element occurence:{count}')
#another approach is-
occurence_of_element=my_list.count(check_element)
print(f'occurence_of_element is{occurence_of_element}')

enter the range 4
enter the element to add in the list karan
enter the element to add in the list devansh
enter the element to add in the list harsh
enter the element to add in the list karan
enter the element to check the occurence karan

elements name:karan,element occurence:2
occurence_of_element is2

In [53]:
# 10. Reverse the order of elements in a list.
my_list=['devasnh','karan','suraj','rane']
reversed_list=[]
n=len(my_list)
for i in range(n-1,-1,-1):
    reversed_list.append(my_list[i])
print("here is your reversed list:",reversed_list)



#another approach is-
my_list.reverse()
print("here is your reversed list:",my_list)

here is your reversed list: ['rane', 'suraj', 'karan', 'devasnh']
here is your reversed list: ['rane', 'suraj', 'karan', 'devasnh']

In [54]:
# 11. Sort a list in ascending order.
my_list=[324,435,32,4,1,2423,4,4,3,5435,435,435]

n = len(my_list)
for i in range(n):
    for j in range(0, n-i-1):
        if my_list[j] > my_list[j+1]:
            # Swap the elements if they are in the wrong order
            my_list[j], my_list[j+1] = my_list[j+1], my_list[j]

# Print the sorted list
print("Sorted list:", my_list)
#another approach is-
my_list.sort()
print("sorted list using function",my_list)

Sorted list: [1, 3, 4, 4, 4, 32, 324, 435, 435, 435, 2423, 5435]
sorted list using function [1, 3, 4, 4, 4, 32, 324, 435, 435, 435, 2423, 5435]

In [2]:

# 12. Sort a list in descending order.
def find_min_recursive(arr):
    # Base case: If the list has only one element, return that element
    if len(arr) == 1:
        return arr[0]

    # Find the minimum element in the rest of the list
    min_rest = find_min_recursive(arr[1:])

    # Compare the minimum of the rest with the first element of the list
    if arr[0] < min_rest:
        return arr[0]
    else:
        return min_rest

# Example usage:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
min_element = find_min_recursive(my_list)
print("The minimum element is:", min_element)

The minimum element is: 1

In [3]:

# 13. Create a list of even numbers from 1 to 20.
my_list=[]
for i in range(1,20+1):
    if i%2==0:
        my_list.append(i)
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
# 14. Create a list of odd numbers from 1 to 20.
my_list=[]
for i in range(1,20+1):
    if i%2==1:
        my_list.append(i)
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [5]:

# 15. Find the sum of all elements in a list.
my_list=[234234,2132132324,435345,123,324,4353,5,435,34,5,23]
sum=0
for i in my_list:
    sum+=i
print("sum of all elements of list:",sum)

sum of all elements of list: 2132807205

In [6]:
# 16. Find the maximum value in a list.
my_list=[123,213,432,543,223,765]
maxi=0
for i in my_list:
    if i>maxi:
        maxi=i
print("the maximum element of the list",maxi)

#another approach is-
max_value=max(my_list)
print("the max value of list:",max_value)

the maximum element of the list 765
the max value of list: 765

In [7]:
# 17. Find the minimum value in a list.
my_list=[123,213,432,543,223,765]
mini=my_list[0]
for i in my_list:
    if i<mini:
        i=mini
print("here is your minimum value of list",mini)

#another apporach is-
print("here is your min element of list",min(my_list))

here is your minimum value of list 123
here is your min element of list 123

In [8]:

# 18. Create a list of squares of numbers from 1 to 10.
l=[]
start=1
end=10
for i in range(start,end+1):
    l.append(i**2)
print("here is the list of square of a number from 1 to 10:",l)

here is the list of square of a number from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:

# 19. Create a list of random numbers.
import random
list_random=[]
size=10
mini=10
maxi=50
for i in range(size+1):
    rand_num=random.randint(mini,maxi)
    list_random.append(rand_num)
print("Here is your list of random numbers :",list_random)

Here is your list of random numbers : [35, 13, 30, 19, 26, 16, 11, 19, 38, 37, 40]

In [10]:

# 20. Remove duplicates from a list.
List_contain_dublicate=['karan','rane','devansh',3,5,4,3,3,3,5,'karan','devansh']
print("list which contains dublicates:",List_contain_dublicate)
removing_dublicate=set(List_contain_dublicate)
creating_anti_dublicates_list=list(removing_dublicate)
print("here is your list which does not contain dublicates: ",creating_anti_dublicates_list)

list which contains dublicates: ['karan', 'rane', 'devansh', 3, 5, 4, 3, 3, 3, 5, 'karan', 'devansh']
here is your list which does not contain dublicates:  [3, 'rane', 5, 4, 'karan', 'devansh']

In [ ]:

# 21. Find the common elements between two lists.
list1=[1,2,4,5,32,34,4]
list2=[1,3,4,32,65,6,76,]
common_elements_of_list=[elements for elements in list1 if elements in list2]
print(common_elements_of_list)

In [11]:


# 22. Find the difference between two lists.
list1=[1,2,4,5,32,34,4]
list2=[1,3,4,32,65,6,76,]
difference1=[iteams for iteams in list1 if iteams not in list2]
difference2=[iteams for iteams in list2 if iteams not in list1]
print("Here is the difference of two list",difference1 + difference2)

Here is the difference of two list [2, 5, 34, 3, 65, 6, 76]

In [12]:

# 23. Merge two lists.
list1=[324,234,21,3,45,2,3,4]
list2=[]
n=int(input("enter the number to  run the loop"))
for i in range(n):
    e=input("enter the element")
    list2.append(e)
for ele in list2:
    list1.append(ele)

print(list1)
#another way to do this
list1.extend(list2)
print(list1)
#or
list3=list1+list2
print(list3)

enter the number to  run the loop 4
enter the element 3
enter the element karan
enter the element 53
enter the element 7

[324, 234, 21, 3, 45, 2, 3, 4, '3', 'karan', '53', '7']
[324, 234, 21, 3, 45, 2, 3, 4, '3', 'karan', '53', '7', '3', 'karan', '53', '7']
[324, 234, 21, 3, 45, 2, 3, 4, '3', 'karan', '53', '7', '3', 'karan', '53', '7', '3', 'karan', '53', '7']

In [13]:

# 24. Multiply all elements in a list by 2.
list1=[]
n=int(input("enter the number of times loop wil run:"))    
for i in range(n):
    items=int(input("enter the iteams yout want to add  in the list:"))
    list1.append(items*2)
print("here is your list element after multiplying by 2",list1)
#another way of doing this
for i in list1:
    i=i*2
print("here is your list element after multiplying by 2",list1)

enter the number of times loop wil run: 4
enter the iteams yout want to add  in the list: 4
enter the iteams yout want to add  in the list: 6
enter the iteams yout want to add  in the list: 4
enter the iteams yout want to add  in the list: 2

here is your list element after multiplying by 2 [8, 12, 8, 4]
here is your list element after multiplying by 2 [8, 12, 8, 4]

In [15]:
# 25. Filter out all even numbers from a list.
list1=[]
list_containing_even_numbers=[]
n=int(input("enter the number to run the loop number of times:"))
for i in range(n):
    list1.append(i)
for number in list1:
    if number%2==0:
        list_containing_even_numbers.append(number)
print("here is the list which contain even number:",list_containing_even_numbers)

enter the number to run the loop number of times: 10

here is the list which contain even number: [0, 2, 4, 6, 8]

In [16]:

# 26. Convert a list of strings to a list of integers.
list1=[]
for i in range(1,10):
    list1.append(str(i))
print("here is the list which containing number in the form of string:",list1)
list2=[]
for elements in list1:
    list2.append(int(elements))
print("here is the list which is converted the string number to interger:",list2)

here is the list which containing number in the form of string: ['1', '2', '3', '4', '5', '6', '7', '8', '9']
here is the list which is converted the string number to interger: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 27. Convert a list of integers to a list of strings.
list1=[]
for i in range(1,10):
    list1.append(i)
print("here is the list which containing number in the form of integer:",list1)
list2=[]
for elements in list1:
    list2.append(str(elements))
print("here is the list which is converted the interger to string form:",list2)

here is the list which containing number in the form of integer: [1, 2, 3, 4, 5, 6, 7, 8, 9]
here is the list which is converted the interger to string form: ['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [18]:
# 28. Flatten a nested list.
def flat_the_list(nested_list):
    flat_list=[]
    for sublist in nested_list:
        if isinstance(sublist,list):
            flat_list.extend(flat_the_list(sublist))
        else:
            flat_list.append(sublist)
    return flat_list


nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]
flat_list=flat_the_list(nested_list)
print("Here is our flat list : ",flat_list)

Here is our flat list :  [1, 2, 3, 4, 5, 6, 7, 8]

In [19]:


# 29. Create a list of the first 10 Fibonacci numbers.

list_of_fib_numbers=[]
first_term=0
second_term=1
for i in range(1,10+1):
    list_of_fib_numbers.append(first_term)
    next_term=first_term+second_term
    first_term=second_term
    second_term=next_term

print("Here is the list which contains first 10 fibonacchi numbers:",list_of_fib_numbers)

Here is the list which contains first 10 fibonacchi numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [20]:

# 30. Check if a list is sorted.
def sorted_list(lst):
    for i in range(len(lst)-1):
        if lst[i]> lst[i+1]:
            return False
    return True

lst=[1,2,3,4,5,6,9,7]
print(sorted_list(lst))

False

In [21]:

# 31. Rotate a list to the left by `n` positions.


list1=[23,1,2,44,32,424,4678,3,23,34]
n=3
rotated_list=list1[n:]+list1[:n]
print(rotated_list)
#another approach
n2=2  
for k in range(n2):
    first_element=list1[0]
    for i in range(len(list1)-1):
        list1[i]=list1[i+1]
    list1[-1]=first_element
print(list1)

[44, 32, 424, 4678, 3, 23, 34, 23, 1, 2]
[2, 44, 32, 424, 4678, 3, 23, 34, 23, 1]

In [22]:
# 32. Rotate a list to the right by `n` positions.
list1=[]
for b in range(1,6):
    list1.append(b)
print(list1)
n=3
for i in range(n):
    last_element=list1.pop()
    list1.insert(0,last_element)
print(list1)
#another approach is 
n2=3
rotate_by=list1[-n2:]+list1[:-n2]
print(rotate_by)

[1, 2, 3, 4, 5]
[3, 4, 5, 1, 2]
[5, 1, 2, 3, 4]

In [23]:
# 33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if num%i==0:
            return False
    return True
primes=[]
for num in range(2,51):
    if  is_prime(num):
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [24]:

# 34. Split a list into chunks of size `n`.
def split_chunks(lst,n):
    chunks=[]
    for i in range(0,len(lst),n):
        chunk=lst[i:i+n]
        chunks.append(chunk)
    return chunks
my_list=[]
chunk=3

for i in range(1,10):
    my_list.append(i)
chunks=(split_chunks(my_list,chunk))
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:

# 35. Find the second largest number in a list.
def second_largest(lst):
    if len(lst)<2:
        return "list must contain 2 elements"
    largest=second_large=float('-inf')
    for num in lst:
        if num > largest:
            second_largest = largest
            largest = num
        elif num < largest and num > second_large:
            second_large = num
    return second_large


numbers_list = [10, 5, 8, 20, 15]
second_large_element_of_list = second_largest(numbers_list)
print("here is the second largest element of a given list :", second_large_element_of_list)

here is the second largest element of a given list : 15

In [26]:

# 36. Replace every element in a list with its square.
l=[1,2,3,4,5,6]
l=[i*i for i in l ]
print(l)

[1, 4, 9, 16, 25, 36]

In [27]:

# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.
list5=['karan','devansh','rane']
my_dict={}
for iteams,index in enumerate(list5):
    my_dict[iteams]=index
print(my_dict)

{0: 'karan', 1: 'devansh', 2: 'rane'}

In [28]:

# 38. Shuffle the elements of a list randomly.
import random
my_list=[1,2,3,4,5,6,7]
def random_shuffle(arr):
    n=len(arr)
    for i in range(n-1):
        j=random.randint(i,n-1)
        arr[i], arr[j]=arr[j],arr[i]

random_shuffle(my_list)
print(my_list)

[6, 1, 5, 3, 7, 4, 2]

In [29]:

# 39. Create a list of the first 10 factorial numbers.
def list_fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*list_fact(n-1)

fact_list1=[list_fact(n) for n in range(1,10+1)]
print(fact_list1)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [30]:

# 40. Check if two lists have at least one element in common.
def commom_ele(list1,list2):
    for elements in list1:
        if elements in list2:
            return True
        return False
list1=[2,1,3,5,2]
list2=[77,55,33,22,55,2]
if commom_ele(list1,list2):
    print("yes the list contains common elements")
else:
    print("no the list does not contains the common element")

yes the list contains common elements

In [31]:

# 41. Remove all elements from a list.
def remove_ele(list1):
    n=len(list1)
    for i in range(n):
        list1.pop()
    return list1
l1=[2,3,1,4,2]
a=remove_ele(l1)
print(a)

[]

In [32]:


# 42. Replace negative numbers in a list with 0.
def replace_zero(list1):
    modified_list=[]
    for num in list1:
        if num<0:
            modified_list.append(0)
        else:
            modified_list.append(num)
    return modified_list        

list1=[34,3,2,4,5,2,3,-1,-8,7,-76]
modified_list1=(replace_zero(list1))
print(modified_list1)
#another approach -
modified_list2=[0 if num<0 else num for num in list1]
print(modified_list2)

[34, 3, 2, 4, 5, 2, 3, 0, 0, 7, 0]
[34, 3, 2, 4, 5, 2, 3, 0, 0, 7, 0]

In [33]:

# 43. Convert a string into a list of words.
def list_words(str1):
    words=""
    list1=[]
    for word in str1:
        if word!=" ":
            words+=word
        else:
            list1.append(words)
            words=""
    if words:
        list1.append(words)
    return list1
str1="hey guys this is karan and i am learning data science from PW skills"
print(list_words(str1))
str2="before the existence of a human  being what type ofn creatures were living here"
print(list_words(str2))

['hey', 'guys', 'this', 'is', 'karan', 'and', 'i', 'am', 'learning', 'data', 'science', 'from', 'PW', 'skills']
['before', 'the', 'existence', 'of', 'a', 'human', '', 'being', 'what', 'type', 'ofn', 'creatures', 'were', 'living', 'here']

In [34]:

# 44. Convert a list of words into a string.
def string_words(list1):
    str1=""
    for iteams in list1:
        str1+=iteams+" "
    str1.rstrip()
    return str1
list1=['modi_ji','is our','pm']
print(string_words(list1))
#or we can do
resulted_string=' '.join(list1)
print(resulted_string)

modi_ji is our pm
modi_ji is our pm

In [35]:

# 45. Create a list of the first `n` powers of 2.
list1=[]
n=5
for i in range(n+1):
    list1.append(2**i)
print(list1)

[1, 2, 4, 8, 16, 32]

In [36]:

# 46. Find the longest string in a list of strings.
my_list=['karan','sudhsir','devansh123','rane']
long_str=my_list[0]
for word in my_list:
    if len(word)>len(long_str):
        long_str=word
print(long_str)

devansh123

In [37]:

# 47. Find the shortest string in a list of strings.
my_list=['karan','rane','sudhsir','devansh123']
short_str=my_list[0]
for word in my_list:
    if len(word)<len(short_str):
        short_str=word
print(short_str)

rane

In [38]:


# 48. Create a list of the first `n` triangular numbers.
def traingular_num(n):
    list_traingular_num=[]
    for i in range(1,n+1):
        traingular_num=0
        for j in range(1,i+1):
            traingular_num+=j
        list_traingular_num.append(traingular_num)
    return list_traingular_num

n=int(input("enter the number of traingular number you want :"))
traingular_list=traingular_num(n)
print(f'here is a list of n traingular numbers : {traingular_list}')

enter the number of traingular number you want : 10

here is a list of n traingular numbers : [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [39]:

# 49. Check if a list contains another list as a subsequence.
def is_subsequence(main_list,sub_list):
    main_len=len(main_list)
    sub_len=len(sub_list)
    for  i in range(main_len-sub_len):
        if main_list[i:i+sub_len]==sub_list:
            return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [3, 4, 5]
result=is_subsequence(main_list,sub_list)
if result:
    print("yes the list contain another list in a subsequence")
else:
    print("no the list does not contain another list as an subsequence ")

yes the list contain another list in a subsequence

In [40]:

# 50. Swap two elements in a list by their indices.
def swap_elements(arr,index1,index2):
    if 0<=index1<len(arr) and 0<=index2<len(arr):
        arr[index1],arr[index2]=arr[index2],arr[index1]
    else:
        print("invalild indices")

my_list=[1,2,3,4,5,6,7,8]
swap_elements(my_list,3,6)
print(my_list)

[1, 2, 3, 7, 5, 6, 4, 8]

Tuple based question

In [41]:

# 1. Create a tuple with integers from 1 to 5.
list1=[]
for i in range(1,5+1):
    list1.append(i)
print("Here is the tuple which contain first five interger:",tuple(list1))

Here is the tuple which contain first five interger: (1, 2, 3, 4, 5)

In [42]:

# 2. Access the third element of a tuple.
tuple1=(1,2,3,4,5)
print(tuple1[3])
# 0r
for i in tuple1:
    if i==3:
        print(tuple1[i])

4
4

In [43]:

# 3. Find the length of a tuple without using the `len()` function.
tuple1=(1,2,4,5,34,45,6,3,1)
length_tuple=0
for i in tuple1:
    length_tuple+=1
print(length_tuple)

9

In [44]:

# 4. Count the occurrences of an element in a tuple.
def count_occurence(tuple1):
    my_dict={}
    for iteam in tuple1:
        if iteam in my_dict:
            my_dict[iteam]+=1
        else:
            my_dict[iteam]=1
    for iteam,count in my_dict.items():
        print(f'{iteam} occur {count}times')
    return my_dict

my_tuple=('a','b','karan','devansh','karan','rane','karan','devansh')
print(count_occurence(my_tuple))

a occur 1times
b occur 1times
karan occur 3times
devansh occur 2times
rane occur 1times
{'a': 1, 'b': 1, 'karan': 3, 'devansh': 2, 'rane': 1}

In [45]:


# 5. Find the index of the first occurrence of an element in a tuple.
tuple2=('a','b','c','d')
elemnt_to_find='a'
index=tuple2.index(elemnt_to_find)
print(f'{elemnt_to_find} is at {index}')

#another way
tuple3=('a','b','c','d')
elemnt_to_find2='b'
index2=None
for i in range(len(tuple3)):
    if tuple3[i]==elemnt_to_find2:
        index2=i
        break
print(f'{elemnt_to_find2} is at {index2}')

a is at 0
b is at 1

In [46]:

# 6. Check if an element exists in a tuple.
tuple4=(1,2,3,4,5)
ele_exist=9
l=0
for i in tuple4:
    if ele_exist in tuple4:
        print("yes the element exist")
        l+=1
        break
    else:
        print("no element not exist")
        l=1
        break

# 7. Convert a tuple to a list.
tuple5=('suraj','saddam','nasir','patil','rane','devansh','arun','karan')
list21=[]
for iteams in tuple5:
    list21.append(iteams)
print(list21)

# or

list_tuple=list(tuple5)
print(list_tuple)

no element not exist
['suraj', 'saddam', 'nasir', 'patil', 'rane', 'devansh', 'arun', 'karan']
['suraj', 'saddam', 'nasir', 'patil', 'rane', 'devansh', 'arun', 'karan']

In [47]:

# 8. Convert a list to a tuple.
list2=['suraj','saddam','nasir','patil','rane','devansh','arun','karan']
tuple2=()
for iteams in list2:
    tuple2+=(iteams,)
print(tuple2)

# or
tuple_list=tuple(list2)
print(tuple_list)

('suraj', 'saddam', 'nasir', 'patil', 'rane', 'devansh', 'arun', 'karan')
('suraj', 'saddam', 'nasir', 'patil', 'rane', 'devansh', 'arun', 'karan')

In [48]:

# 9. Unpack the elements of a tuple into variables.
tuple5=('suraj','saddam','nasir','patil','rane','devansh','arun','karan')
for index,iteam in enumerate(tuple5,start=1):
    print(f'{index} {iteam}')

1 suraj
2 saddam
3 nasir
4 patil
5 rane
6 devansh
7 arun
8 karan

In [49]:

# 10. Create a tuple of even numbers from 1 to 10.
l=[]
tuple1=()
for i in range(1,10+1):
    if i%2==0:
        l.append(i)
for iteams in l:
    tuple1+=(iteams,)
print(tuple1)

(2, 4, 6, 8, 10)

In [50]:

# 11. Create a tuple of odd numbers from 1 to 10.
l=[]
tuple1=()
for i in range(1,10+1):
    if i%2==0:
        continue
    else:
        l.append(i)
print(l)

[1, 3, 5, 7, 9]

In [51]:

# 12. Concatenate two tuples.
l1=[]
l2=[]
for i in range(1,5+1):
    l1.append(i)
for j in range(6,10+1):
    l2.append(j)
tuple1=()
for iteam in l1:
    tuple1+=(iteam,)
tuple2=()
for iteams in l2:
    tuple2+=(iteams,)
print(tuple1)
print(tuple2)    
concatenate_tuple=()
for iteam1 in tuple1:
    concatenate_tuple+=(iteam1,)
for iteam2 in tuple2:
    concatenate_tuple+=(iteam2,)
print(concatenate_tuple)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [52]:

# 13. Repeat a tuple three times.
l=[]
for i in range(1,4):
    l.append(i)
tuple1=tuple(l)
print(tuple1)
repeated_tuple=tuple1*3
print(repeated_tuple)

(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [53]:

# 14. Check if a tuple is empty.
tuple1=()
is_empty=True
for iteam in tuple1:
    is_empty=False
    break
if is_empty:
    print("yes the tuple is empty")
else:
    print("the tuple is not empty")

tuple2=(1,2,4)
is_empty2=True
for iteam in tuple2:
    is_empty=False
    break
if is_empty:
    print("yes the tuple is empty")
else:
    print("the tuple is not empty")

yes the tuple is empty
the tuple is not empty

In [54]:

# 15. Create a nested tuple.
nested_tuple=()
inner_tuple=()
for i in range(3):
    inner_tuple=()
    for j in range(3):
        inner_tuple+=(j,)
    nested_tuple+=(inner_tuple,)
print(nested_tuple)

((0, 1, 2), (0, 1, 2), (0, 1, 2))

In [55]:

# 16. Access the first element of a nested tuple.
tuple1=((0, 1, 2), (0, 1, 2), (0, 1, 2))
first_ele_tuple=tuple1[0][0]
print(first_ele_tuple)
#another way
for inner_tuple in tuple1:
    first_ele_tuple1=inner_tuple[0]
print(first_ele_tuple1)

0
0

In [56]:

# 17. Create a tuple with a single element
tuple1=(1,)
print(tuple1)
tuple2=()
for  i in range(1,2):
    tuple2+=(i,)
print(tuple2)

# 18. Compare two tuples.
tuple1=(1,2,3)
tuple2=(1,2,3)
if tuple1==tuple2:
    print("yes the tuples are equal")
else:
    print("tuples are not equal")

if tuple1!=tuple2:
    print("tuples are not equal")
else:
    print("tuples are equal")

if tuple1>tuple2:
    print("tuple1 is greater than tuple2")
else:
    print("tuple1 is not greater than tuple2")

(1,)
(1,)
yes the tuples are equal
tuples are equal
tuple1 is not greater than tuple2

In [57]:

# 19. Delete a tuple.
my_tuple=(1,2,3)
del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [58]:

# 20. Slice a tuple.
tuple1=(2,3,5,3,2,3,4,5,56,56,4,3,453)
print(tuple1[3:5])

(3, 2)

In [59]:

# 21. Find the maximum value in a tuple.
tuple1=(2,3,5,3,2,3,4,5,56,56,4,3,453)
maxi=0
for i in tuple1:
    if maxi<i:
        maxi=i
print(maxi)

453

In [60]:


# 22. Find the minimum value in a tuple.
tuple1=(2,3,5,3,2,3,4,5,56,1,56,4,3,453)
mini=tuple1[0]
for i in tuple1:
    if mini>i:
        mini=i
print(mini)

1

In [61]:

# 23. Convert a string to a tuple of characters.
string1="hello shivali"
tuple1=()
for char in string1:
    tuple1+=(char,)
print(tuple1)
#or
tuple2=tuple(string1)
print(tuple2)

('h', 'e', 'l', 'l', 'o', ' ', 's', 'h', 'i', 'v', 'a', 'l', 'i')
('h', 'e', 'l', 'l', 'o', ' ', 's', 'h', 'i', 'v', 'a', 'l', 'i')

In [62]:


# 24. Convert a tuple of characters to a string.
tuple1=('h', 'e', 'l', 'l', 'o', ' ', 's', 'h', 'i', 'v', 'a', 'l', 'i')
string1=""
for iteams in tuple1:
    string1+=iteams
print(string1)
#or 
string2=''.join(tuple1)
print(string2)

hello shivali
hello shivali

In [63]:

# 25. Create a tuple from multiple data types.
tuple_var=()
for i in range(1,3):
    iteam=input("enter the str iteam to add in tuple:")
    iteam2=int(input("enter the integer to  enter in tuple:"))
    iteam3=float(input("enter the float value to enter in the tuple:"))
    tuple_var+=(iteam,)
    tuple_var+=(iteam2,)
    tuple_var+=(iteam3,)
print(tuple_var)

enter the str iteam to add in tuple: karan
enter the integer to  enter in tuple: 2
enter the float value to enter in the tuple: 2.4
enter the str iteam to add in tuple: dev
enter the integer to  enter in tuple: 4
enter the float value to enter in the tuple: 4.6

('karan', 2, 2.4, 'dev', 4, 4.6)

In [64]:

# 26. Check if two tuples are identical.
tuple1=(1,2,3)
tuple2=(1,2,3)
tuple3=(3,4,5)
tuple4=(5,2,1)
if tuple1==tuple2:
    print("tuples are identical")
else:
    print("tuples are not identical")


if tuple3==tuple4:
    print("tuples are identical")
else:
    print("tuples are not identical")

tuples are identical
tuples are not identical

In [65]:

# 27. Sort the elements of a tuple.

def bubble_sort(arr):
    n=len(arr)
    for  i in range(n):
        for j in range(0,n-i-1):
            if arr[j]>arr[j+1]:
                arr[j],arr[j+1]=arr[j+1],arr[j]
my_tuple = (3, 1, 2, 5, 4)

my_list = list(my_tuple)

bubble_sort(my_list)

sorted_tuple = tuple(my_list)

print("Here is out sorted tuple :",sorted_tuple)

Here is out sorted tuple : (1, 2, 3, 4, 5)

In [66]:



# 28. Convert a tuple of integers to a tuple of strings.
tuple_int=(1,2,3,4,5)
str1=""
for iteam in tuple_int:
    str1+=str(iteam,)

tuple_str=()
for char in str1:
    tuple_str+=(char,)
print(tuple_str)
# or
tuple_str2=tuple(str(x) for x in tuple_int)
print(tuple_str2)

('1', '2', '3', '4', '5')
('1', '2', '3', '4', '5')

In [67]:

# 29. Convert a tuple of strings to a tuple of integers.
tuple_str=('1', '2', '3', '4', '5')
tuple_int=()
for iteam in tuple_str:
    int_val=int(iteam)
    tuple_int+=(int_val,)
print(tuple_int)

(1, 2, 3, 4, 5)

In [68]:

# 30. Merge two tuples.
tuple1=(1,2,3)
tuple2=(5,7,3)
tuple3=()
for i in tuple1:
    tuple3+=(i,)
for j in tuple2:
    tuple3+=(j,)
print(tuple3)

(1, 2, 3, 5, 7, 3)

In [69]:

# 31. Flatten a nested tuple.
def flat_tuple(nested_tuple):
    flat_list=[]
    for iteam in nested_tuple:
        if isinstance(iteam,tuple):
            flat_list.extend(flat_tuple(iteam))
        else:
            flat_list.append(iteam)
    return tuple(flat_list)

nested_tuple = ((1, 2, (3, 4)), 5, (6, (7, 8)))
flat_tuple1=flat_tuple(nested_tuple)
print(flat_tuple1)

(1, 2, 3, 4, 5, 6, 7, 8)

In [70]:

# 32. Create a tuple of the first 5 prime numbers.
def prime(num):
    if num<=1:
        return False
    for i in range(2,num):
        if num%i==0:
            return False
    return True
primes=()
for num in range(2,12):
    if prime(num):
        primes+=(num,)
print("here is tuple of 5 prime num:",primes)

here is tuple of 5 prime num: (2, 3, 5, 7, 11)

In [71]:

# 33. Check if a tuple is a palindrome.
def is_palindrome(tuple1):
    if len(tuple1)<=1:
        return True
    if tuple1[0]==tuple1[-1]:
        return is_palindrome (tuple1[1:-1])
    return False
my_tuple = (1, 2, 3, 3, 2, 1)
is_palindrome1=is_palindrome(my_tuple)
if is_palindrome1:
    print("yes the tuple is palindrome")
else:
    print("tuple is not palindrome")

yes the tuple is palindrome

In [72]:


# 34. Create a tuple of squares of numbers from 1 to 5.
tuple_sq=()
for i in range(1,6):
    tuple_sq+=(i**2,)
print(tuple_sq)

(1, 4, 9, 16, 25)

In [73]:

# 35. Filter out all even numbers from a tuple.
tuple_all=(1,2,3,4,5,6,7,8,9,10)
tuple_even=()
for i in tuple_all:
    if i%2==0:
        tuple_even+=(i,)
print(tuple_even)

(2, 4, 6, 8, 10)

In [74]:


# 36. Multiply all elements in a tuple by 2.
tuple_2=(1,2,3,4,5,6,7,8,9,10)
tuple_multi_2=()
for i in tuple_2:
    tuple_multi_2+=(i*2,)
print(tuple_multi_2)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [75]:

# 37. Create a tuple of random numbers.
import random
tuple1_random=()
max_val=100
min_val=1
size=10
for i in range(size):
    random_num=random.randint(min_val,max_val)
    tuple1+=(random_num,)
print(tuple1_random)

()

In [76]:

# 38. Check if a tuple is sorted.
def is_sorted(tuple1):
    n=len(tuple1)
    for i in range(n-1):
        if tuple1[i]>tuple1[i+1]:
            return False
    return True
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (4, 2, 7, 1, 5)

result_sorted = is_sorted(sorted_tuple)
result_unsorted = is_sorted(unsorted_tuple)

print(f"Is {sorted_tuple} sorted? {result_sorted}")
print(f"Is {unsorted_tuple} sorted? {result_unsorted}")

Is (1, 2, 3, 4, 5) sorted? True
Is (4, 2, 7, 1, 5) sorted? False

In [77]:

# 39. Rotate a tuple to the left by `n` positions.
def rotate_tuple_left(tup,n):
    length=len(tup)
    if length==0:
        return tup
    n=n%length
    rotate_tuple=tup[n:]+tup[:n]
    return rotate_tuple

tuple1=(1,2,4,5,6,7)
n=2
rotate_tuple=rotate_tuple_left(tuple1,n)
print(rotate_tuple)

(4, 5, 6, 7, 1, 2)

In [78]:

# 40. Rotate a tuple to the right by `n` positions.
def rotate_tuple_left(tup,n):
    length=len(tup)
    if length==0:
        return tup
    n=n%length
    rotate_tuple=tup[-n:]+tup[:-n]
    return rotate_tuple

tuple1=(1,2,3,4,5)
n=2
rotate_tuple=rotate_tuple_left(tuple1,n)
print(rotate_tuple)

(4, 5, 1, 2, 3)

In [81]:

# 41. Create a tuple of the first 5 Fibonacci numbers.
first_term=0
second_term=1
n=int(input("enter the number:"))
tuple_fib=()
for i in range(1,n+1):
    tuple_fib+=(first_term,)
    next_term=first_term+second_term
    first_term=second_term
    second_term=next_term
print(tuple_fib)

enter the number: 10

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

In [82]:

# 42. Create a tuple from user input.
user_tuple=()
n=int(input("run the loop:"))
for i in range(1,n+1):
    iteam=input("enter the iteam to add in tuple")
    user_tuple+=(iteam,)
print(user_tuple)

run the loop: 5
enter the iteam to add in tuple karan
enter the iteam to add in tuple dev
enter the iteam to add in tuple rane
enter the iteam to add in tuple arun
enter the iteam to add in tuple suraj

('karan', 'dev', 'rane', 'arun', 'suraj')

In [83]:


# 43. Swap two elements in a tuple.
def swapping(tuple1,index1,index2):
    tuple1=list(tuple1)
    tuple1[index1],tuple1[index2]=tuple1[index2],tuple1[index1]
    swapped_tuple=tuple(tuple1)
    return swapped_tuple


original_tuple = (1, 2, 3, 4, 5)
result=swapping(original_tuple,2,4)
print(result)

(1, 2, 5, 4, 3)

In [84]:


# 44. Reverse the elements of a tuple.
tuple1=(1,2,3,4,5,6)
rev_tuple=()
for iteam in tuple1[::-1]:
    rev_tuple+=(iteam,)
print(rev_tuple)

(6, 5, 4, 3, 2, 1)

In [85]:

# 45. Create a tuple of the first `n` powers of 2.
n=int(input("enter the number:"))
for i in range(n):
    power_off=2**i
    print(power_off,end=' ')

enter the number: 7

1 2 4 8 16 32 64

In [86]:

# 46. Find the longest string in a tuple of strings.
tuple_str=('aniket','harsh','arun','suraj','karan','devansh')
long_str=tuple_str[1]
for iteam in tuple_str:
    if len(iteam)>len(long_str):
        long_str=iteam
print(long_str)

devansh

In [87]:

# 47. Find the shortest string in a tuple of strings.
tuple_str=('aniket','harsh','arun','suraj','karan','devansh')
short_str=tuple_str[1]
for iteam in tuple_str:
    if len(iteam)<len(short_str):
        short_str=iteam
print(short_str)

arun

In [88]:


# 48. Create a tuple of the first `n` triangular numbers.
def traingular(n):
    traingular_tuple=()
    for i in range(1,n+1):
        traingular_no=0
        for j in range(1,i+1):
            traingular_no+=j
        traingular_tuple+=(traingular_no,)
    return traingular_tuple

n= int(input("enter the number of traingular number you want:"))
traingular_tuple=traingular(n)
print(traingular_tuple)

enter the number of traingular number you want: 10

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [89]:


# 49. Check if a tuple contains another tuple as a subsequence.
def is_subsequence(main_tuple,sub_tuple):
    sub_len=len(sub_tuple)
    main_len=len(main_tuple)
    for i in range(main_len+1):
        if main_tuple[i:i + sub_len]==sub_tuple:
            return True
    return False

main_tuple=(1,2,3,4,5,6,7)
sub_tuple=(3,4,5)
result=is_subsequence(main_tuple,sub_tuple)
if result:
    print("yes the tuple contain another tuple as a subsequence")
else:
    print("no the tuple does not contain another tuple in subsequence")

yes the tuple contain another tuple as a subsequence

In [90]:

# 50. Create a tuple of alternating 1s and 0s of length `n`.
def alternating_tuple(n):
    alternating_tuple1=()
    for i in range(n):
        alternating_tuple1+=(i%2,)
    return alternating_tuple1

n=10
result=alternating_tuple(n)
print(result)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Questions

In [91]:

# 1. Create a set with integers from 1 to 5.
my_set=set()
for i in range(1,6):
    my_set.add(i)
print("here is a set of int from 1 to 5:",my_set)

here is a set of int from 1 to 5: {1, 2, 3, 4, 5}

In [92]:

# 2. Add an element to a set.
my_set={'dev','rane'}
ele_add='karan'
my_set.add(ele_add)
print("here is element karan added to a set: ",my_set)

here is element karan added to a set:  {'dev', 'rane', 'karan'}

In [93]:

# 3. Remove an element from a set.
my_set={'karan','dev','rane'}
ele_remove='karan'
my_set.remove(ele_remove)
print("here is element karan remove from   a set: ",my_set)

here is element karan remove from   a set:  {'dev', 'rane'}

In [94]:

# 4. Check if an element exists in a set.
my_set={'karan','dev','rane'}
ele_to_check='dev'
f=0
for ele in my_set:
    if ele==ele_to_check:
        print(f'yes the element{ele_to_check} is present in the set')
        f=1
        break
    else:
        print("the element is not present in the set")
        f=2
        break

yes the elementdev is present in the set

In [95]:


# 5. Find the length of a set without using the `len()` function.
my_set={'karan','dev','rane'}
length=0
for i in my_set:
    length+=1
print(f'length of the {my_set} is : {length}')

length of the {'dev', 'rane', 'karan'} is : 3

In [96]:

# 6. Clear all elements from a set.
my_set={'karan','dev','rane'}
my_set_copy=my_set.copy()
for iteams in my_set_copy:
    my_set.remove(iteams)
print(my_set)

set()

In [97]:

# 7. Create a set of even numbers from 1 to 10.
set_even_no=set()
for i in range(1,11):
    if i%2==0:
        set_even_no.add(i)
print(set_even_no)

{2, 4, 6, 8, 10}

In [98]:

# 8. Create a set of odd numbers from 1 to 10.
set_odd_no=set()
for i in range(1,11):
    if i%2!=0:
        set_odd_no.add(i)
print(set_odd_no)

{1, 3, 5, 7, 9}

In [99]:

# 9. Find the union of two sets.
set1={1,2,4}
set2={6,7,9}
union_set=set1.union(set2)
print(union_set)
# or
union_set2=set()
for i in set1:
    union_set2.add(i)
for j in set2:
    union_set2.add(j)
print(union_set2)

{1, 2, 4, 6, 7, 9}
{1, 2, 4, 6, 7, 9}

In [100]:


# 10. Find the intersection of two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set_intersection=set1.intersection(set2)
print(set_intersection)

# or

set_intersection2=set()
for ele in set1:
    if ele in set2:
        set_intersection2.add(ele)
print(set_intersection2)

{3, 4, 5}
{3, 4, 5}

In [101]:

# 11. Find the difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set_diff1=set1-set2
print("the diff in set1 - set2:",set_diff1)

# or

set_diff2=set1.difference(set2)
print("the diff in set1 - set2:",set_diff2)

# or
set_diff3=set()
for i in set1:
    if i not in set2:
        set_diff3.add(i)
print("the diff in set1 - set2:",set_diff3)

the diff in set1 - set2: {1, 2}
the diff in set1 - set2: {1, 2}
the diff in set1 - set2: {1, 2}

In [102]:


# 12. Check if a set is a subset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
subset1=set2.issubset(set1)
if subset1:
    print("yes, the set is the subset of another set")
else:
    print("no, the set is not the subset of another set")
    
#or
def is_subset(superset,subset):
    for ele in subset:
        if ele not in superset:
            return False
    return True

subset2=is_subset(set1,set2)
if subset2:
    print("yes, the set is the subset of another set")
else:
    print("no, the set is not the subset of another set")
    
#or
subset3=set2<=set1
if subset3:
    print("yes, the set is the subset of another set")
else:
    print("no, the set is not the subset of another set")

yes, the set is the subset of another set
yes, the set is the subset of another set
yes, the set is the subset of another set

In [103]:

# 13. Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
superset1=set1.issuperset(set2)
if superset1:
    print("yes the set is the superset of another set")
else:
    print("no the set is not the superset of another set")

#or
superset2=set1>=set2
if superset2:
    print("yes the set is the superset of another set")
else:
    print("no the set is not the superset of another set")

#or
def is_superset(superset,subset):
    for ele in subset:
        if ele not in superset:
            return False
    return True

subset2=is_superset(set1,set2)
if superset2:
    print("yes, the set is the subset of another set")
else:
    print("no, the set is not the subset of another set")

yes the set is the superset of another set
yes the set is the superset of another set
yes, the set is the subset of another set

In [104]:

# 14. Create a set from a list.
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)
# or
set2_list=set() 
for i in my_list:
    set2_list.add(i)
print(set2_list)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [105]:

# 15. Convert a set to a list.
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

# or
my_list2=[] 
for ele in my_set:
    my_list2.append(ele)
print(my_list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [106]:

# 16. Remove a random element from a set.
my_set = {1, 2, 3, 4, 5}
removed_ele=my_set.pop()
print("updated set :",my_set)
print("remove element :",removed_ele)
# or
import random 
my_list=list(my_set)

random_index=random.randint(0,len(my_list)-1)
remove_ele2=my_list.pop(random_index)
my_set2=set(my_list)
print("updated set :",my_set2)
print("remove element :",remove_ele2)

updated set : {2, 3, 4, 5}
remove element : 1
updated set : {2, 3, 4}
remove element : 5

In [107]:

# 17. Pop an element from a set.
my_set = {1, 2, 3, 4, 5}
pop_ele=my_set.pop()
print("set after the pop operation",my_set)
print("poped element",pop_ele)

set after the pop operation {2, 3, 4, 5}
poped element 1

In [108]:

# 18. Check if two sets have no elements in common.
set1={1,2,3,4,5}
set2={1,2,3,4,56,7,56}
common_ele=False
for ele in set1:
    if ele in set2:
        common_ele=True
        break
if common_ele:
    print("the set contains the common elements")
else:
    print("the set does not contain the common elements")
    

set3={1,2,3,4,5}
set4={54,67,34,45}
common_ele2=False
for ele in set3:
    if ele in set4:
        common_ele2=True
        break
if common_ele2:
    print("the set contains the common elements")
else:
    print("the set does not contain the common elements")

#or 
common_ele3=set1.isdisjoint(set2)
if common_ele3:
    print("yes the set contain the common elements")
else:
    print("no the set does not contain any common element")

the set contains the common elements
the set does not contain the common elements
no the set does not contain any common element

In [109]:

# 19. Find the symmetric difference between two sets.
def symmmetric_diff(set1,set2):
    set1=list(set1)
    set2=list(set2)
    symmmetric_diff_set=set()
    for ele in set1:
        if ele in set2:
            symmmetric_diff_set.add(ele)
    for ele in set2:
        if ele in set1:
            symmmetric_diff_set.add(ele)
    return symmmetric_diff_set

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

result=symmmetric_diff(set1,set2)
print(result)

{3, 4}

In [110]:

# 20. Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

for i in set2:
    set1.add(i)
print("here is a set updated from the elements of another set",set1)

#or
set3={3,4,5}
set4={8,6,4}
set3.update(set4)
print(f'updated set :{set3}')
#or
set5={3,4,5}
set6={8,6,4}
set5=set5 | set6
print("updated set : ",set5)

here is a set updated from the elements of another set {1, 2, 3, 4, 5}
updated set :{3, 4, 5, 6, 8}
updated set :  {3, 4, 5, 6, 8}

In [111]:

# 21. Create a set of the first 5 prime numbers.
def prime(n):
    if n<=1:
        return False
    if n==2 or n==3:
        return True
    for i in range(2,n):
        if n%i==0:
            return False
    return True
set_prime=set()
for n in range(2,10):
    if prime(n):
        set_prime.add(n)
print(set_prime)

{2, 3, 5, 7}

In [112]:


# 22. Check if two sets are identical.
set1={1,2,3,4,5,6}
set2={1,2,3,4,5,6,7}
if set1==set2:
    print("yes this sets are identical")
else:
    print("no the sets are not identical")


# 23. Create a frozen set.
my_set={'karan','dev','rane','suraj'}
frozen_set=frozenset(my_set)
print("frozenset:",frozen_set)

no the sets are not identical
frozenset: frozenset({'dev', 'rane', 'suraj', 'karan'})

In [113]:

# 24. Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("yes the set are disjoint")
else:
    print("no the set are not disjoint")

yes the set are disjoint

In [114]:

# 25. Create a set of squares of numbers from 1 to 5.
set_square=set()
for  i in range(1,6):
    set_square.add(i**2)
print(set_square)

{1, 4, 9, 16, 25}

In [115]:

# 26. Filter out all even numbers from a set.
def even_number(set1):
    eve_set=set()
    for i in set1:
        if i%2==0:
            eve_set.add(i)
    return eve_set

my_set={1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,12,3,34,45,34,2,3,4,6,54,345,43,6,635}
even_num_set=even_number(my_set)
print(even_num_set)

{2, 34, 4, 6, 8, 10, 12, 14, 16, 54}

In [116]:

# 27. Multiply all elements in a set by 2.
set1={1,2,3,4,5}
set2=set()
for i in set1:
    set2.add(i*2)
print(set2)

{2, 4, 6, 8, 10}

In [117]:


# 28. Create a set of random numbers.
import random

min_val=1
max_val=100
size=10
random_int_set=set()
for i in range(size):
    random_num=random.randint(min_val,max_val)
    random_int_set.add(random_num)
print(random_int_set)

{34, 8, 41, 13, 29, 86, 27, 93, 95, 63}

In [118]:

# 29. Check if a set is empty.
my_set=set()
length=len(my_set)
if length==0:
    print("the set is empty")
else:
    print("the set is not empty")

the set is empty

In [119]:


# 30. Create a nested set (hint: use frozenset).
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {7, 8, 9}

nested_set=set1,set2,set3
print("nested_set:")
for subset in nested_set:
    print(subset)

nested_set:
{1, 2, 3}
{4, 5, 6}
{8, 9, 7}

In [120]:


# 31. Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}
discard_ele=3
my_set.discard(discard_ele)
print(my_set)


# 32. Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2={2,4,1,5,6}
if set1==set2:
    print("both sets are equal")
else:
    print("sets are not equal")

compare1=set1.isdisjoint(set2)
if compare1 :
    print("true")
else:
    print("false")

compare2=set2.issubset(set1)
if compare2:
    print("set2 is subset of set1")
else:
    print("not a subset")

{1, 2, 4, 5}
sets are not equal
false
not a subset

In [121]:

# 33. Create a set from a string.
def set_converter(string):
    word=''
    set1=set()
    for iteams in string:
        if iteams!='':
            word+=iteams
        else:
            set1.add(word)
            word=''
    if word:
        set1.add(word)
    return set1


string="hello this is karan"
print(set_converter(string))

# or--doint it directly
string2="hello this is karan"
print(set(string2))
# or
string3="subway suffer"
set3=set()
for char in string3:
    set3.add(char)
print(set3)

{'hello this is karan'}
{' ', 'k', 't', 'l', 'o', 'n', 'e', 'i', 'a', 's', 'h', 'r'}
{' ', 'f', 'e', 'b', 'w', 'y', 'a', 's', 'r', 'u'}

In [122]:

# 34. Convert a set of strings to a set of integers.
set_string={'karan','is','good'}
str1=''
for iteams in set_string:
    str1+=iteams+' '
print(str1)

good is karan

In [123]:

# 35. Convert a set of integers to a set of strings.
my_set = {1, 2, 3, 4, 5}
set_str=set()
for i in my_set:
    set_str.add(str(i))
print(set_str)

{'1', '4', '5', '3', '2'}

In [124]:

# 36. Create a set from a tuple.
tuple1=(1,2,3)
set_tuple=set()
for i in tuple1:
    set_tuple.add(i)
print(set_tuple)

# or
set_tuple2=set(tuple1)
print(set_tuple2)

{1, 2, 3}
{1, 2, 3}

In [125]:

# 37. Convert a set to a tuple.
set1={1, 2, 3}
tuple1=()
for i in set1:
    tuple1+=(i,)
print(tuple1)

(1, 2, 3)

In [126]:

# 38. Find the maximum value in a set.
my_set={1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,12,3,34,45,34,2,3,4,6,54,345,43,6,635}
maxi=0
for i in my_set:
    if i>maxi:
        maxi=i
print(f'max value of set :{maxi}')
# or
maxi2=max(my_set)
print(maxi2)

max value of set :635
635

In [127]:

# 39. Find the minimum value in a set.
my_set={2,3,4,5,6,7,8,9,10,11,12,14,15,16,1,12,3,34,45,34,2,3,4,6,54,345,43,6,635}
mini=next(iter(my_set))
for i in my_set:
    if i<mini:
        mini=i
print("here is the min element of my_set2:",mini)
my_set_min=min(my_set)
print(my_set_min)

my_set2={52135123,623462378,7812378613,73465673498,712365,76547,547568578,45563456345234}
mini2=float('inf')
for k in my_set2:
    if k<mini2:
        mini2=k
print(f'here is the min element of my_set2:{mini2}')
my_set2_min=min(my_set2)
print(my_set2_min)

here is the min element of my_set2: 1
1
here is the min element of my_set2:76547
76547

In [128]:

# 40. Create a set from user input.
my_set=set()
for i in range(1,3):
    ele=input("enter ele to insert in set")
    my_set.add(ele)
print(my_set)

enter ele to insert in set karan
enter ele to insert in set dev

{'dev', 'karan'}

In [129]:

# 41. Check if the intersection of two sets is empty.
def intersection_empty(set1,set2):
    return not bool (set1.intersection(set2))


set1 = {1, 2, 3}
set2 = {4, 5, 6}
result=intersection_empty(set1,set2)
print(result)

True

In [130]:

# 42. Create a set of the first 5 Fibonacci numbers.
set_fib = set()
first_term = 0
second_term = 1
n = 5

for i in range(n + 1):
    set_fib.add(first_term)
    next_term = first_term + second_term  # Corrected assignment
    first_term = second_term
    second_term = next_term

print(set_fib)

{0, 1, 2, 3, 5}

In [131]:

# 43. Remove duplicates from a list using sets.
List_contain_dublicate=[1,2,3,4,1,2,4,5,6,6,4,3,2,12,34]
my_list_anti_dublicate=list(set(List_contain_dublicate))
print("using set the dublicates is removed",my_list_anti_dublicate)

using set the dublicates is removed [1, 2, 3, 4, 5, 6, 34, 12]

In [132]:

# 44. Check if two sets have the same elements, regardless of their count.
def same_ele(set1,set2):
    if len(set1)!=len(set2):
        return False
    set_copy1=set(set1)
    set_copy2=set(set2)

    sorted_set1=sorted(set_copy1)
    sorted_set2=sorted(set_copy2)

    if sorted_set1==sorted_set2:
        return True
    else:
        return False


set1 = {1, 2, 3, 3, 4}
set2 = {4, 3, 2, 1}

if same_ele(set1,set2):
    print("The set having same element")
else:
    print("no the set does not contain the same element")

The set having same element

In [133]:


# 45. Create a set of the first `n` powers of 2.

set_pow_2=set()
n=int(input("enter the val of n :"))
for i in range(n):
    set_pow_2.add(2**i)
print("set of the first `n` powers of 2 :",set_pow_2)

enter the val of n : 5

set of the first `n` powers of 2 : {1, 2, 4, 8, 16}

In [134]:

# 46. Find the common elements between a set and a list.
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

commom_ele=my_set.intersection(my_list)
print(commom_ele)


# 47. Create a set of the first `n` triangular numbers.
def traingular_number_creater(n):
    traingular_num_set=set()
    for i in range(1,n+1):
        traingular_number=i*(i+1)//2
        traingular_num_set.add(traingular_number)
    return traingular_num_set

n=int(input("enter the range of traingular number you want"))
traingular_num=traingular_number_creater(n)
print('Here is a set of traingular number:',traingular_num)

{3, 4, 5}

enter the range of traingular number you want 10

Here is a set of traingular number: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [135]:

# 48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("no set2 is not a subset of set 1")

set2 is a subset of set1

In [136]:

# 49. Create a set of alternating 1s and 0s of length `n`.
def alternating_set(n):
    alternating_set1=set()
    for i in range(n):
        alternating_set1.add(i%2)

    return alternating_set1

n=10
result=alternating_set(n)
print(result)

{0, 1}

In [137]:

# 50. Merge multiple sets into one.
def merge_set(*sets):
    mergeset=set()
    for s in sets :
        mergeset=mergeset.union(s)
    return mergeset


set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

result=merge_set(set1,set2,set3)
print("Here is your merged set :", result)

Here is your merged set : {1, 2, 3, 4, 5, 6, 7}